@tailwind base;
@tailwind components;
@tailwind utilities;

.hashnode-content-style {
  @apply prose break-words text-slate-950 lg:prose-lg dark:prose-invert first:prose-h1:mt-0 first:prose-h2:mt-0 first:prose-h3:mt-0 first:prose-h4:mt-0 first:prose-h5:mt-0 prose-p:leading-7 first:prose-p:mt-0 prose-a:leading-7 prose-a:underline hover:prose-a:bg-primary-50 prose-blockquote:leading-7 prose-figure:leading-7 prose-figcaption:leading-7 prose-pre:leading-7 prose-ol:leading-7 prose-ul:leading-7 prose-li:leading-7 prose-th:leading-7 prose-td:leading-7 prose-img:max-w-full dark:text-neutral-50 dark:hover:prose-a:bg-neutral-800 dark:hover:prose-a:text-primary-500 dark:prose-pre:bg-black text-lg;
}

/* Override to remove the backtick */
.hashnode-content-style
  :where(code):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::before,
.hashnode-content-style
  :where(code):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::after {
  content: none;
}

.prose code {
  border-radius: 0.25rem;
  font-weight: 400 !important;
  padding: 0.25rem;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  font-size: 80%;
  background: #f0efed;
}

.dark .prose code {
  --tw-bg-opacity: 1;
  background-color: rgba(36, 41, 46, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(238, 238, 238, var(--tw-text-opacity));
}

.prose pre {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.prose pre code {
  background-color: transparent;
  border-radius: 0px;
  font-weight: 500 !important;
  padding: 0px;
  font-size: 100%;
  color: #fafafa;
}

.dark .prose pre code {
  background-color: transparent;
  color: #ddd;
}

@media print {
  @page {
    size: A4;
    margin: 20mm 5mm 20mm 25mm;
  }

  body {
    margin: 0;
    padding: 0;
  }

  article {
    /* margin: 20mm 10mm !important; */
    padding: 0;
    width: 100%;
  }
}
